# Created by https://www.gitignore.io/api/visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
server.txt
password.txt
token.txt



# End of https://www.gitignore.io/api/visualstudiocode